:root {
  --background-vinette: linear-gradient(
    0deg,
    #ff8c42 0%,
    #fff39c 10%,
    #ecfff2 25%,
    #8bb2ff 50%,
    #212165 100%
  );
  --building-line: #554949;
  --building-fill: #b2afb6;
  --building-window: #f4d9be;
  --building-green: #3a473f;
  --building-ground: rgb(110 112 125);
  --background-image-left: url("../images/honeycomb_7_white-01.png");
  --background-image-right: url("../images/honeycomb_7_white-02.png");
}

body {
  background: var(--background-vinette);
  position: relative;
}

.background {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.background::before,
.background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  max-width: 768px;
  height: 100%;
  background: transparent var(--background-image-left) repeat-y;
  opacity: 0.7;
  background-position: center right;
  background-size: contain;
}

.background::after {
  left: auto;
  right: 0;
  background-image: var(--background-image-right);
  background-position: center left;
  background-size: contain;
}

.cityscape-background {
  position: absolute;
  inset: 0 0 0 0;
  z-index: 1;
  pointer-events: none;
  display: flex;
  align-items: flex-end;
}

.cityscape {
  position: relative;
  width: 100%;
  height: 30vw;
  min-height: 240px;
  max-height: 520px;
  overflow: hidden;
}

.cityscape svg {
  position: absolute;
  width: auto;
  height: 100%;
  object-fit: cover;
}

.cityscape svg .st0 {
  fill: var(--building-fill);
}

.cityscape svg .st1 {
  fill: var(--building-line);
}

.cityscape svg .st2 {
  fill: var(--building-window);
}

.cityscape svg .st3 {
  fill: var(--building-green);
}

.cityscape svg#building_1 {
  left: 2%;
  bottom: 0;
  height: 26vw;
  z-index: 4;
}

.cityscape svg#building_2 {
  left: 10%;
  bottom: -30px;
  height: 26vw;
  z-index: 3;
}

.cityscape svg#building_3 {
  left: 45%;
  bottom: 9vw;
  height: 12vw;
  z-index: 0;
}

.cityscape svg#building_4 {
  left: 30%;
  bottom: 7vw;
  height: 17vw;
  z-index: 2;
}

.cityscape svg#building_5 {
  right: -2%;
  bottom: -2vw;
  z-index: 1;
  height: 23vw;
}

.cityscape svg#building_6 {
  right: 35%;
  bottom: 10vw;
  height: 13vw;
}

.cityscape svg#building_7 {
  right: 20%;
  bottom: 10vw;
  z-index: 0;
  height: 20vw;
}

.cityscape svg#building_8 {
  right: -10vw;
  bottom: -8vw;
  z-index: 0;
  height: 28vw;
}

.site-header,
.site-content,
.site-footer {
  position: relative;
  z-index: 2;
}

.site-footer {
  background: rgba(242, 244, 247, 0.85);
}

@media (max-width: 720px) {
  .cityscape {
    height: 45vw;
    min-height: 180px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-vinette: linear-gradient(
      0deg,
      #8b4513 0%,
      #d14242 10%,
      #fdea9d 25%,
      #2f5185 45%,
      #220c2f 80%
    );
    --building-fill: #51504e;
    --building-line: #858080;
    --building-window: #fdb464;
    --building-ground: rgb(64 53 53);
    --background-image-left: url("../images/honeycomb_7-01.png");
    --background-image-right: url("../images/honeycomb_7-02.png");
  }
}

body.theme-light {
  --background-vinette: linear-gradient(
    0deg,
    #ff8c42 0%,
    #fff39c 10%,
    #ecfff2 25%,
    #8bb2ff 50%,
    #212165 100%
  );
  --building-line: #554949;
  --building-fill: #b2afb6;
  --building-window: #f4d9be;
  --building-ground: rgb(110 112 125);
  --background-image-left: url("../images/honeycomb_7_white-01.png");
  --background-image-right: url("../images/honeycomb_7_white-02.png");
}

body.theme-dark {
  --background-vinette: linear-gradient(
    0deg,
    #8b4513 0%,
    #d14242 10%,
    #fdea9d 25%,
    #2f5185 45%,
    #220c2f 80%
  );
  --building-fill: #51504e;
  --building-line: #858080;
  --building-window: #fdb464;
  --building-ground: rgb(64 53 53);
  --background-image-left: url("../images/honeycomb_7-01.png");
  --background-image-right: url("../images/honeycomb_7-02.png");
}
