:root {
  --max-width: 1200px;
}

.editor-styles-wrapper {
  padding: 20px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #101318;
  background: #ffffff;
}

.editor-styles-wrapper .wp-block {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

.editor-styles-wrapper .wp-block[data-align="wide"] {
  max-width: 1400px;
}

.editor-styles-wrapper .wp-block[data-align="full"] {
  max-width: none;
}
